target/classes/muleapp1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    
    <configuration defaultProcessingStrategy="non-blocking" /> 
    
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${https.port}" doc:name="HTTP Listener Configuration" protocol="HTTPS">
        <tls:context>
            <tls:key-store type="jks" path="keystore.jks" keyPassword="synechron" password="synechron"/> 
        </tls:context> 
    </http:listener-config>
    <http:request-config name="HTTP_Request_Configuration" host="34.66.216.192" port="80" doc:name="HTTP Request Configuration"/>
    <flow name="muleapp1Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api" doc:name="HTTP"/>
        <logger message="Hello World!" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/account/client/C01" method="GET" doc:name="HTTP" followRedirects="true" parseResponse="false"/>
        <logger message="Payload :: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
